@media (max-width:768px){
  /******predefine*****/
  .profile,.about,.details, .ach{
    color: rgb(0, 204, 170);
    text-align: center;
    padding: 20px;
    
  }
  .profile-a, .about-a{
    color: rgb(46, 46, 46);
     font-size: 16px;
     text-align: center;
     
  }
  .bold{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  
   .name {
     font-family: 'Josefin+Sans',sans-serif;
     color: white;
     font-size: 30px;
     display: block;
    text-align: center;
     margin-top: 7em;
     text-shadow: 2px 2px 2px rgb(51, 50, 50) ;
   }
   .resume{
     font-size: 25px;
     text-align: center;
     color: white;
     font-weight: 300;
     margin-top: 0.7em;
   }
   hr{
     margin-left: auto;
     margin-right: auto;
     margin-top: 1em;
    
   }
   /*******section2********/
   #section2{
     background-color: white;
     height: 10em;
     width: 100%;
     margin-top: 16em;
   }
   img{
     border-radius: 50%;
    margin-left: 70px;
   }
   .profile{
     padding: 30px;
   }
   .profile-a{
     margin-top: -1em;
   }
   .about-a{
     margin-left: 25px;
     width: 80%;
     margin-top: 1em;
   }
   #exp{
     background-color: rgb(255, 236, 199);
     height: 20em;
     
   }
   
   
}